<?php
/**
 * This is needed for cookie based authentication to encrypt password in
 * cookie. Needs to be 32 chars long.
 */
$cfg['blowfish_secret'] = '{{ phpmyadmin_blowfish_secret }}'; /* YOU MUST FILL IN THIS FOR COOKIE AUTH! */

$i = 0;

{% for item in phpmyadmin_mysql_servers %}

$i++;
/* Authentication type */
$cfg['Servers'][$i]['auth_type'] = 'cookie';
/* Server parameters */
$cfg['Servers'][$i]['host'] = '{{ item.host }}';
$cfg['Servers'][$i]['connect_type'] = 'tcp';
$cfg['Servers'][$i]['compress'] = false;
/* Select mysql if your server does not have mysqli */
$cfg['Servers'][$i]['extension'] = 'mysqli';
$cfg['Servers'][$i]['AllowNoPassword'] = false;
$cfg['Servers'][$i]['AllowRoot'] = false;
$cfg['Servers'][$i]['hide_db'] = '(mysql|test|information_schema|performance_schema)';
$cfg['Servers'][$i]['verbose'] = '{{ item.verbose }}';

{% endfor %}
