[server]

[mysqld]

[embedded]

[mariadb]
### basic ###
user = mysql
datadir = {{ mariadb_datadir }}
socket = {{ mariadb_socket }}
port = {{ mysql_port }}
bind_address = {{ mariadb_bind_address }}
skip_name_resolve = 1
max_allowed_packet = {{ mariadb_max_allowed_packet }}

### innodb ###
default_storage_engine = InnoDB
innodb_autoinc_lock_mode = 2
innodb_doublewrite = 1
innodb_flush_log_at_trx_commit = 1
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_buffer_pool_instances = {{ mariadb_innodb_buffer_pool_instances }}
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = {{ mariadb_innodb_log_buffer_size }}

### query cache ###
query_cache_size = 0
query_cache_type = 0

### timeout ###
wait_timeout = 30
interactive_timeout = 30
connect_timeout = 30

### Redo log
innodb_log_files_in_group = {{ mariadb_innodb_log_files_in_group }}
innodb_log_file_size = {{ mariadb_innodb_log_file_size }}

### temporary tables ###
tmp_table_size = {{ mariadb_tmp_table_size }}
max_heap_table_size = {{ mariadb_max_heap_table_size }}
tmpdir = {{ mariadb_tmpdir }}

### open cache
table_open_cache = {{ mariadb_table_open_cache }}

### thread pool ###
{% if ma_enable_thread_pool == 1 %}
thread_handling = {{ mariadb_thread_handling }}
thread_pool_size = {{ mariadb_thread_pool_size }}
extra_port = {{ mariadb_extra_port }}
extra_max_connections = {{ mariadb_extra_max_connections }}
max_connections = {{ mariadb_max_connections }}
{% else %}
# I do not use thread pool
{% endif %}

### thread cache ###
{% if ma_enable_thread_cache == 1 %}
thread_cache_size = {{ mariadb_thread_cache_size }}
max_connections = {{ mariadb_max_connections }}
{% else %}
# I do not use thread cache
{% endif %}

### log ###
log_output = FILE
log_error = {{ mariadb_log_error }}
slow_query_log = 1
log_queries_not_using_indexes = {{ mariadb_log_queries_not_using_indexes }}
log_warnings = {{ mariadb_log_warnings }}
long_query_time = {{ mariadb_long_query_time }}
slow_query_log_file = {{ mariadb_slow_query_log_file }}
general_log = 0
general_log_file = {{ mariadb_general_log_file }}

### replication ###
{% if mysql_repl_role != "NA" %}
{% if ma_enable_gtid == 1 %}
gtid_domain_id = {{ mariadb_gtid_domain_id }}
{% endif %}
report_host = {{ mariadb_report_host }}
report_port = {{ mariadb_report_port }}
expire_logs_days = 5
log_bin = {{ project_name }}-bin
log_bin_index = {{ project_name }}-bin.log.index
relay_log = {{ project_name }}-relay-bin
relay_log_index = {{ project_name }}-relay-bin.index
server_id = {{ mariadb_server_id }}
log_slave_updates = {{ mariadb_log_slave_updates }}
binlog_format = {{ mariadb_binlog_format }}
max_binlog_size = 200M
{% endif %}

[mariadb-{{ mariadb_base_version }}]
