systemLog:
  destination: file
  logAppend: true
  path: {{ mongo_systemLog_path }}

storage:
  dbPath: {{ mongo_storage_dbPath }}
  journal:
    enabled: true

processManagement:
  fork: true
  pidFilePath: {{ mongo_processManagement_pidFilePath }}

net:
  port: {{ mongo_net_port }}
  bindIp: {{ mongo_net_bindIp }}

security:
  authorization: {{ mongo_security_authorization }}

setParameter:
  enableLocalhostAuthBypass: {{ mongo_setParameter_enableLocalhostAuthBypass }}
