{# for item in nginx_items #}
server {

{% for k,v in item.iteritems() %}
{% if k.find('location') == -1 %}
{{ k }} {{ v }};
{% endif %}
{% endfor %}


{% for k,v in item.iteritems() %}
  {% if k.find('location') != -1 %}
    location {{ v.name }} {
    {% for x,y in v.iteritems() if x != 'name' %}
      {% if type(y) == "<type 'list'>" %}
        {% for i in y %}
          {{ x }} {{ i }};
        {% endfor %}
      {% else %}
        {{ x }} {{ y }};
      {% endif %}
    {% endfor %}
    }
  {% endif %}
{% endfor %}
}
{# endfor #}
