server {
    listen {{ nginx_listen }};

{% if nginx_server_name is defined %}
    server_name {{ nginx_server_name }};
{% endif %}
    root {{ nginx_root_dir }};
    index {{ nginx_index | default('index.html index.htm') }};

{% if nginx_access_log is defined %}
    access_log {{ nginx_access_log }};
{% endif %}
{% if nginx_error_log is defined %}
    error_log {{ nginx_error_log }} error;
{% endif %}
{% if nginx_auth is defined %}
    {{ nginx_auth|indent(4) }}
{% endif %}
{% if nginx_allow_ips is defined %}
    {{ nginx_allow_ips|indent(4) }}
{% endif %}

    location / {
      index {{ nginx_index | default('index.html index.htm') }};
    }

{% if nginx_locations is defined %}
    {{ nginx_locations|indent(4) }}
{% endif %}
}

