user  {{ nginx_conf.user }};
worker_processes  {{ nginx_conf.worker_processes }};

error_log  /var/log/nginx/error.log;

pid        {{ nginx_conf.pid }};


events {
    worker_connections  {{ nginx_conf.worker_connections }};
}

worker_rlimit_nofile 4096;

http {
    include       mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';
    access_log  /var/log/nginx/access.log  main;
    sendfile        on;
    keepalive_timeout  65;
{% if role == "proxy"  or role == "proxy_cache" %}
    include {{ nginx_conf.upstream|indent(4) }};
{% endif %}
{% if role == "proxy_cache" %}
    include {{ nginx_conf.proxy_cache_path|indent(4) }};
{% endif %}
    server {
      listen 80 default_server;
      location / {
        deny all;
      }
    }
    include {{ nginx_conf.vhosts_dir }}/*.conf;
}
