#!/bin/bash

export PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

GITLAB_URL=$1
REGISTRATION_TOKEN=$2
RUNNER_DESC=$3
TAG_LIST=$4
executor=$5

# Register runner
if [ ${executor} == "dood" ]; then
  gitlab-ci-multi-runner register -n \
    --url ${GITLAB_URL} \
    --registration-token ${REGISTRATION_TOKEN} \
    --executor docker \
    --description ${RUNNER_DESC} \
    --tag-list ${TAG_LIST} \
    --docker-image "docker:latest" \
    --docker-volumes /var/run/docker.sock:/var/run/docker.sock
fi
