#!/bin/bash

export PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

REGISTRATION_TOKEN=
# Register runner
gitlab-ci-multi-runner register -n \
  --url https://gitlab.com/ \
  --registration-token ${REGISTRATION_TOKEN} \
  --executor docker \
  --description "My Docker Runner" \
  --docker-image "docker:latest" \
  --docker-volumes /var/run/docker.sock:/var/run/docker.sock
