[server]

[mysqld]

[embedded]

[mariadb]
### basic ###
user = {{ mariadb_user }}
datadir = {{ mariadb_datadir }}
socket = {{ mariadb_socket }}
port = {{ mariadb_port }}
skip_name_resolve = {{ mariadb_skip_name_resolve }}
max_allowed_packet = {{ mariadb_max_allowed_packet }}

### innodb ###
default_storage_engine = {{ mariadb_default_storage_engine }}
innodb_autoinc_lock_mode = {{ mariadb_innodb_autoinc_lock_mode }}
innodb_doublewrite = {{ mariadb_innodb_doublewrite }}
innodb_flush_log_at_trx_commit = {{ mariadb_innodb_flush_log_at_trx_commit }}
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_buffer_pool_instances = {{ mariadb_innodb_buffer_pool_instances }}
innodb_file_per_table = {{ mariadb_innodb_file_per_table }}
innodb_flush_method = {{ mariadb_innodb_flush_method }}
innodb_log_buffer_size = {{ mariadb_innodb_log_buffer_size }}

### query cache ###
query_cache_size = {{ mariadb_query_cache_size }}
query_cache_type = {{ mariadb_query_cache_type }}

### timeout ###
wait_timeout = {{ mariadb_wait_timeout }}
interactive_timeout = {{ mariadb_interactive_timeout }}
connect_timeout = {{ mariadb_connect_timeout }}

### Redo log
innodb_log_files_in_group = {{ mariadb_innodb_log_files_in_group }}
innodb_log_file_size = {{ mariadb_innodb_log_file_size }}

### temporary tables ###
tmp_table_size = {{ mariadb_tmp_table_size }}
max_heap_table_size = {{ mariadb_max_heap_table_size }}
tmpdir = {{ mariadb_tmpdir }}

### thread pool ###
{% if ma_enable_thread_pool == 1 %}
thread_handling = {{ mariadb_thread_handling }}
thread_pool_size = {{ mariadb_thread_pool_size }}
extra_port = {{ mariadb_extra_port }}
extra_max_connections = {{ mariadb_extra_max_connections }}
max_connections = {{ mariadb_max_connections }}
{% else %}
# I do not use thread pool
{% endif %}

### thread cache ###
{% if ma_enable_thread_cache == 1 %}
thread_cache_size = {{ mariadb_thread_cache_size }}
max_connections = {{ mariadb_max_connections }}
{% else %}
# I do not use thread cache
{% endif %}

### log ###
log_output = {{ mariadb_log_output }}
log_error = {{ mariadb_log_error }}
slow_query_log = {{ mariadb_slow_query_log }}
log_queries_not_using_indexes = {{ mariadb_log_queries_not_using_indexes }}
log_warnings = {{ mariadb_log_warnings }}
long_query_time = {{ mariadb_long_query_time }}
slow_query_log_file = {{ mariadb_slow_query_log_file }}
general_log = {{ mariadb_general_log }}
general_log_file = {{ mariadb_general_log_file }}

### replication ###
{% if ma_enable_replication == 1 %}
{% if ma_enable_gtid == 1 %}
gtid_domain_id = {{ mariadb_gtid_domain_id }}
{% endif %}
report_host = {{ mariadb_report_host }}
report_port = {{ mariadb_port }}
expire_logs_days = {{ mariadb_expire_logs_days }}
log_bin = {{ mariadb_report_host }}-bin
log_bin_index = {{ mariadb_report_host }}-bin.log.index
relay_log = {{ mariadb_report_host }}-relay-bin
relay_log_index = {{ mariadb_report_host }}-relay-bin.index
server_id = {{ mariadb_server_id }}
log_slave_updates = {{ mariadb_log_slave_updates }}
binlog_format = {{ mariadb_binlog_format }}
max_binlog_size = {{ mariadb_max_binlog_size }}
{% endif %}

[mariadb-{{ mariadb_base_version }}]

[xtrabackup]
datadir = {{ mariadb_datadir }}
socket = {{ mariadb_socket }}
streamfmt = {{ xtrabackup_streamfmt }}
innodb_log_files_in_group = {{ mariadb_innodb_log_files_in_group }}
innodb_log_file_size = {{ mariadb_innodb_log_file_size }}
