[server]

[mysqld]

[embedded]

[mariadb]
### basic ###
user = mysql
datadir = {{ dir.datadir }}
socket = {{ mysqld.socket }}
port = {{ mysqld.port }}
skip_name_resolve = {{ mysqld.skip_name_resolve }}
max_allowed_packet = {{ mysqld.max_allowed_packet }}

### innodb ###
default_storage_engine = InnoDB
innodb_autoinc_lock_mode = {{ mysqld.innodb_autoinc_lock_mode }}
innodb_doublewrite = {{ mysqld.innodb_doublewrite }}
innodb_flush_log_at_trx_commit = {{ mysqld.innodb_flush_log_at_trx_commit }}
innodb_buffer_pool_size = {{ mysqld.innodb_buffer_pool_size }}
innodb_buffer_pool_instances = {{ mysqld.innodb_buffer_pool_instances }}
innodb_file_per_table = 1
innodb_flush_method = {{ mysqld.innodb_flush_method }}
innodb_log_buffer_size = {{ mysqld.innodb_log_buffer_size }}

### query cache ###
query_cache_size = 0
query_cache_type = 0

### timeout ###
wait_timeout = {{ mysqld.wait_timeout }}
interactive_timeout = {{ mysqld.interactive_timeout }}
connect_timeout = {{ mysqld.connect_timeout }}

### temporary tables ###
tmp_table_size = {{ mysqld.tmp_table_size }}
max_heap_table_size = {{ mysqld.max_heap_table_size }}
tmpdir = {{ mysqld.tmpdir }}

### thread pool ###
thread_handling = {{ mysqld.thread_handling }}
thread_pool_size = {{ mysqld.thread_pool_size }}
extra_port = {{ mysqld.extra_port }}
extra_max_connections = {{ mysqld.extra_max_connections }}
max_connections = {{ mysqld.max_connections }}

### log ###
log_output = {{ mysqld.log_output }}
log_error = {{ mysqld.log_error }}
slow_query_log = 1
log_queries_not_using_indexes = {{ mysqld.log_queries_not_using_indexes }}
log_warnings = {{ mysqld.log_warnings }}
long_query_time = {{ mysqld.long_query_time }}
slow_query_log_file = {{ mysqld.slow_query_log_file }}
general_log = 0
general_log_file = {{ mysqld.general_log_file }}

[mariadb-{{ base_version }}]

[xtrabackup]
datadir = {{ dir.datadir }}
streamfmt = xbstream
